<p id="notice"><%= notice %></p>

<h1>Ideas</h1>

<div class="row">
<% @ideas.each do |idea| %>
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <%= image_tag idea.picture_url, width: '100%', class: 'card-img-top' if idea.picture.present? %>
  <div class="card-body">
    <h5 class="card-title"><%= idea.name %></h5>
    <p class="card-text"><%= idea.description %></p>
    <%= link_to 'Show', idea , :class => "btn btn-primary" %>
    <%= link_to 'Edit', edit_idea_path(idea) , :class => "btn" %>
    <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-secondary" %>
  </div>
  </div>
</div>
<% end %>
</div>

<hr>

    <% @ideas.each do |idea| %>
      <h2><%= idea.name %></h2>
      <p><%= idea.description %></p>
      <div class="image-style"><%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %></div>
      <div class="blocks-edit"><%= link_to 'Show', idea %>
      <%= link_to 'Edit', edit_idea_path(idea) %>
      <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>

<br>

<%= link_to 'New Idea', new_idea_path %>
